.Rhistory
*.Rproj
.Rproj.user/F68C7BD1/sdb/s-B4001E54/lock_file
.Rproj.user/F68C7BD1/sdb/prop/38B18901
.Rproj.user/F68C7BD1/sdb/prop/7478A48
.Rproj.user/F68C7BD1/sdb/s-B4001E54/EF4DD605
.Rproj.user/F68C7BD1/sdb/s-B4001E54/E41140F1
.Rproj.user/F68C7BD1/sdb/s-B4001E54/3D1E50E
.Rproj.user/F68C7BD1/sdb/prop/C85D3E33
.Rproj.user/F68C7BD1/sdb/prop/INDEX
.Rproj.user/F68C7BD1/sdb/prop/95A45E63
.Rproj.user/F68C7BD1/sdb/prop/AB91BDDC
.Rproj.user/F68C7BD1/sdb/s-B4001E54/A6A1CEFB
.Rproj.user/F68C7BD1/sdb/s-B4001E54/E6763103
rsconnect/shinyapps.io/david-zornek/Issue_Detection.dcf